body{
    color: black;
    border-color: wheat !important;
    background-color: #bbb;
}
.mainn{
    align-items: center !important;
    margin-left: 30%;
    margin-top: 5%;    
}
.main{
    align-items: center !important;
    margin-left: 30%;    
    margin-top: 2%;    
}
.sbtn{
    width: 40px;
    background-color: black;
    color: whitesmoke;
    height: 30px;
    border-radius: 20px;
}
input{
    height: 30px;
    border-radius: 20px;
    width: 400px;
    background-color: #bbb;
    border: black solid;
}
.roll{
    font-weight: bolder;
    background-color: whitesmoke;

}
input::placeholder{
    color: black;
    font-size: medium;
    text-align: center;
    color: black;
    opacity: 1px;
}
.res{
    color: blueviolet ;
    font-weight: bolder;
    background-color: wheat;
}
table, th, td {
    border: 1px solid black;
    text-align: center;
  }
  /* .box {
    width: 100%;
    color: white;
    display: flex;
    justify-content: center;
    padding: 20px;
}
.get_values {
    border: 2px solid white;
    width: 400px;
    padding: 20px;
    border-radius: 5%;
}
.get_values i {
    font-size: 25px;
    margin-bottom: 10px;
    cursor: pointer;
    font-weight: bold;
}
.get_values i:hover {
    color: gray;
}
.get_values h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 35px;
}
.get_values p {
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: bold;
}
.get_values p span {
    font-size: 22px; 
    margin-right: 20px;
}
.get_values p .phone {
    margin-right: 62px;
}
.get_values p .email {
    margin-right: 70px;
}
.get_values p .zip_code {
    margin-right: 36px;
} */